*{
	margin: 0;
	padding: 0;
	font-family: "Comic Sans MS", sans-serif;
	font-size: 1.2em;
}

body{
	/*background-image: url(psy.gif);*/
	background-color: #ff00d3;
}

.k{
	position: absolute;
	z-index: 10000;
}

.floating1{
	left: 0;
	color: pink;

}
.floating2{
	bottom: 0;
	left: 30vw;
	color: blue;
}
.floating3{
	left: 0;
	bottom: 50vh;
	color: red;
	font-size: 2.2em;
	
}

.floating6{
	bottom: 10px;
	color: white;
	left: 40px;
	font-size: 2em;
}
.floating4{
	top: 40vh;
	left: 30vw;
	margin-left: 20vw;
	color: green;

}
.floating4{
	top: 30px;
	left: 0;
	color: white;
	font-size: 3em;

}

.floating8{
	right:10px;
	color: green;
	top: 50vh;
}


.embql{


	height: auto;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
	

}

img {
	width: 50vw;
	height: auto;
	margin: 0 auto;
	text-align: center;
	

    -webkit-animation: fadein 10s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 10s; /* Firefox < 16 */
        -ms-animation: fadein 10s; /* Internet Explorer */
         -o-animation: fadein 10s; /* Opera < 12.1 */
            animation: fadein 10s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}